body {
  width: 360px;
  height: auto;
  margin: 0;
  background: #f6f8f9;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

/* Launcher stuff */

#input-wrapper {
  display: flex;
  width: 360px;
  box-sizing: border-box;
  background: #fff;
  font-size: 1.3em;
  font-weight: 300;
}

#command {
  background: #f6f8f9;
  color: #fff;
  padding: 10px 12px;
}

#command.mark {
  background: #27ae60;
}

#command.copy {
  background: #34495e;
}

#command.search {
  background: #2980b9;
}

#command.edit {
  background: #f39c12;
}

#command.delete {
  background: #c0392b;
}

#command.help {
  background: #8e44ad;
}

#command.list {
  background: #1abc9c;
}

#command.tab {
  background: #7f8c8d;
}

#command.history {
  background: #8e44ad;
}

#input {
  flex: 1 1;
  width: 0;
  border: none;
  padding: 10px 8px;
  outline: none;
  background: none;
  font: inherit;
}

.Suggestion-root {
  display: flex;
  width: 100%;
  padding: 6px 9px;
  box-sizing: border-box;
}

.Suggestion-root.selected {
  background: #dce8ff;
}

.Suggestion-favicon-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  margin-right: 9px;
}

.Suggestion-favicon {
  width: 24px;
  height: 24px;
}

.Suggestion-text-wrapper {
  flex: 1 1;
  width: 0;
}

.Suggestion-title, .Suggestion-url, .Suggestion-description {
  overflow: hidden;
  text-overflow: ellipsis;
}

.Suggestion-title {
  height: 24px;
  font-size: 1.3em;
  font-weight: 300;
}

.Suggestion-url {
  height: 15px;
  color: #27ae60;
  font-size: 0.75em;
}

.Suggestion-description {
  height: 15px;
  color: #999;
  font-size: 0.75em;
}

/* Shared editor/deleter stuff */

.CancelButton-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #787d82;
  cursor: pointer;
}

.CancelButton-root:hover {
  background: #e74c3c;
  color: #fff;
}

.CancelButton-inner {
  padding: 0 12px;
  text-align: center;
}

.CancelButton-x {
  font-size: 36px;
  font-weight: 200;
}

.CancelButton-esc {
  font-size: 12px;
  font-weight: 400;
}

.SaveButton {
  padding: 10px 8px 10px 59px;
  background: #2980b9;
  color: #fff;
  font: inherit;
  text-align: left;
  cursor: pointer;
}

.SaveButton.deleter {
  background: #c0392b;
}

.SaveButton.disabled {
  background: none;
  color: #7f8c8d;
  cursor: default;
}

.SaveButton:not(.disabled):hover {
  background: #3498db;
}

.SaveButton.deleter:not(.disabled):hover {
  background: #e74c3c;
}

.Editor-root, .Deleter-root {
  width: 360px;
  font-size: 1.3em;
  font-weight: 300;
}

.Editor-form, .Deleter-form {
  display: flex;
}

.Editor-input-wrapper {
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

.Editor-input {
  padding: 10px 8px;
  font: inherit;
}

.Deleter-inner {
  display: block;
  margin: 25px 10px 30px;
  outline: none;
  color: inherit;
  text-decoration: none;
  cursor: default;
}
